# AI API Keys
OPENAI_API_KEY=sua-chave-openai-aqui

# System Config
BACKEND_CORS_ORIGINS=["*"]

# Observabilidade (LangSmith - Opcional)
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=sua-chave-langsmith-aqui
LANGSMITH_PROJECT=desafio-get
